<header>
    <div class = 'container'>
    <%= image_tag("https://i.pinimg.com/originals/e5/9f/9c/e59f9c0f7bc8b14d0659aaf4977bdb13.jpg" , size: "180x110")%>
    <nav>
        <ul>
            <li><%= link_to "Inicio", root_path%>
        </ul>
    </nav>

    </div>
</header>